<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">
  </head>
<body ng-app="ShoppingListApp">
  <div class="container">
    <div class="jumbotron">

  <h1 class="text-center">Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ShoppingListToBuyController as toBuyList">
      <div id="toBuyPage">

     <h2 class="text-center">To Buy:</h2>
     <ul id="toBuyList">
       <li ng-repeat="item in toBuyList.items">Buy {{item.quantity}} {{item.name}}<a href="#" class="" ng-click="toBuyList.checkItem($index);"><span class="glyphicon glyphicon-ok"></span></a></li>
     </ul>
     <div ng-if="!toBuyList.items.length" class="emptyMessage">Everything is bought!</div>
      </div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="ShoppingListBoughtController as boughtList">
      <div id="boughtPage" class="">
     <h2 class="text-center">Already Bought:</h2>
     <ul id="boughtList">
       <li ng-repeat="item in boughtList.items">Bought {{item.quantity}} {{item.name}}</li>
     </ul>
     <div ng-if="!boughtList.items.length" class="emptyMessage">Nothing bought yet.</div>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="scripts/angular.min.js"></script>
<script type="text/javascript" src="scripts/app.js"> </script>
</body>
</html>
